<!-- <nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog App</h1>
        </a>
        <p>Nodemon Blogs App</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav> -->


<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Blogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blogs/create">New Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">LOGIN</a>
    </li>
</ul>